<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Launcher</key>
	<string>Launcher</string>
	<key>Services</key>
	<array/>
	<key>Applications</key>
	<array>
		<dict>
			<key>delegate</key>
			<string>MPLauncherAppDelegate</string>
			<key>description</key>
			<string>Launcher</string>
			<key>name</key>
			<string>Launcher</string>
		</dict>
	</array>
	<key>ServicesMap</key>
	<dict>
		<key>[AUTOSTART]</key>
		<array/>
	</dict>
</dict>
</plist>
