<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Style</key>
	<dict>
		<key>style-day</key>
		<string>style_1_7_1445219169</string>
		<key>style-night</key>
		<string>style_5_7_1445391719</string>
		<key>style-satellite</key>
		<string>style_3_7_1445827513</string>
		<key>style-navicar-day</key>
		<string>style_4_7_1445391691</string>
		<key>style-navicar-night</key>
		<string>style_5_7_1445391719</string>
		<key>style-bus</key>
		<string>style_1_7_1481016169</string>
		<key>style-indoor</key>
		<string>style_50_7_1445670996</string>
	</dict>
	<key>Texture</key>
	<dict>
		<key>icon-day</key>
		<string>icons_1_7_1444880368</string>
		<key>icon-night</key>
		<string>icons_2_7_1445580283</string>
		<key>icon-bus</key>
		<string>icons_3_7_1444880372</string>
		<key>icon-indoor</key>
		<string>icons_50_7_1444880375</string>
		<key>background-day</key>
		<string>bktile_1</string>
		<key>background-night</key>
		<string>bktile_2</string>
		<key>roadarrow</key>
		<string>roadarrow</string>
		<key>lineround</key>
		<string>lineround</string>
		<key>dash-railway</key>
		<string>dash</string>
		<key>dash-overpass</key>
		<string>dash_tq</string>
		<key>dash-longandshort</key>
		<string>dash_cd</string>
		<key>tmc-green-day</key>
		<string>tgl</string>
		<key>tmc-green-night</key>
		<string>tgl_n</string>
		<key>tmc-yellow-day</key>
		<string>tyl</string>
		<key>tmc-yellow-night</key>
		<string>tyl_n</string>
		<key>tmc-red-day</key>
		<string>trl</string>
		<key>tmc-red-night</key>
		<string>trl_n</string>
		<key>tmc-blackred-day</key>
		<string>tbl</string>
		<key>tmc-blackred-night</key>
		<string>tbl_n</string>
		<key>tmc-gray-day</key>
		<string>tnl</string>
		<key>tmc-gray-night</key>
		<string>tnl_n</string>
		<key>sky-day</key>
		<string>3d_sky_1</string>
		<key>sky-night</key>
		<string>3d_sky_2</string>
	</dict>
</dict>
</plist>
