.idea/
.gradle/
bin/
gen/
build/
*.iml
**/.DS_Store
local.properties
.alipay/
.mdk/

build/android-profile/
app/build/android-profile/
*/build/android-profile/
build/android-profile/
app/build/android-profile/
*/build/android-profile/
build/android-profile/
app/build/android-profile/
*/build/android-profile/
build/android-profile/
app/build/android-profile/
*/build/android-profile/
build/android-profile/
app/build/android-profile/
*/build/android-profile/
build/android-profile/
app/build/android-profile/
*/build/android-profile/
build/android-profile/
app/build/android-profile/
*/build/android-profile/