<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Services</key>
	<array>
		<dict>
			<key>welcomPageAfterLoading</key>
			<string>true</string>
			<key>name</key>
			<string>APConfigService</string>
			<key>lazyLoading</key>
			<string>false</string>
			<key>class</key>
			<string>APConfigCenter</string>
		</dict>
		<dict>
			<key>class</key>
			<string>XTPortalService</string>
			<key>lazyLoading</key>
			<string>true</string>
			<key>name</key>
			<string>XTPortalService</string>
		</dict>
		<dict>
			<key>class</key>
			<string>NebulaAppService</string>
			<key>lazyLoading</key>
			<string>true</string>
			<key>name</key>
			<string>NebulaAppService</string>
		</dict>
		<dict>
			<key>class</key>
			<string>OPAppManageService</string>
			<key>lazyLoading</key>
			<string>true</string>
			<key>name</key>
			<string>OPAppManage</string>
		</dict>
		<dict>
			<key>name</key>
			<string>H5Service</string>
			<key>lazyLoading</key>
			<string>false</string>
			<key>class</key>
			<string>H5Service</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TinyAppService</string>
			<key>lazyLoading</key>
			<string>false</string>
			<key>class</key>
			<string>TinyAppService</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MPDefaultConfigService</string>
			<key>lazyLoading</key>
			<string>true</string>
			<key>class</key>
			<string>MPDefaultConfigService</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SAAccountService</string>
			<key>lazyLoading</key>
			<string>true</string>
			<key>class</key>
			<string>NBInsideSAAccountService</string>
		</dict>
	</array>
	<key>Applications</key>
	<array>
		<dict>
			<key>name</key>
			<string>20001120</string>
			<key>description</key>
			<string>20001120</string>
			<key>delegate</key>
			<string>DFLoadingPageAppDelegate</string>
		</dict>
		<dict>
			<key>delegate</key>
			<string>H5AppDelegate</string>
			<key>description</key>
			<string>20000068</string>
			<key>name</key>
			<string>20000068</string>
		</dict>
		<dict>
			<key>delegate</key>
			<string>H5AppDelegate</string>
			<key>description</key>
			<string>20000069</string>
			<key>name</key>
			<string>20000069</string>
		</dict>
		<dict>
			<key>delegate</key>
			<string>H5AppDelegate</string>
			<key>description</key>
			<string>20000067</string>
			<key>name</key>
			<string>20000067</string>
		</dict>
		<dict>
			<key>delegate</key>
			<string>APMapMicroAppDelegate</string>
			<key>description</key>
			<string>地图</string>
			<key>name</key>
			<string>20000050</string>
			<key>title</key>
			<string>地图</string>
			<key>icon</key>
			<string></string>
			<key>entry</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
