<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JsApiRuntime</key>
	<dict>
		<key>JsApis</key>
		<array>
			<dict>
				<key>name</key>
				<string>JSApiHandler4SetBackgroundImage</string>
				<key>jsApi</key>
				<string>setBackgroundImage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4RemoveBackgroundImage</string>
				<key>jsApi</key>
				<string>removeBackgroundImage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JSApiHandler4SetWebViewTop</string>
				<key>jsApi</key>
				<string>setWebViewTop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetStartupParams</string>
				<key>jsApi</key>
				<string>getStartupParams</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SaveBizServiceResult</string>
				<key>jsApi</key>
				<string>saveBizServiceResult</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4StartBizService</string>
				<key>jsApi</key>
				<string>startBizService</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetLdcUserInfo</string>
				<key>jsApi</key>
				<string>getLdcUserInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ClearAPDataStorage</string>
				<key>jsApi</key>
				<string>clearAPDataStorage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JSApiHandler4SwitchTab</string>
				<key>jsApi</key>
				<string>switchTab</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetStartParam</string>
				<key>jsApi</key>
				<string>setStartParam</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetSwitchControlStatus</string>
				<key>jsApi</key>
				<string>getSwitchControlStatus</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetSceneStackInfo</string>
				<key>jsApi</key>
				<string>getSceneStackInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4CheckJSApiPermission</string>
				<key>jsApi</key>
				<string>checkJSApiPermission</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetCookie</string>
				<key>jsApi</key>
				<string>getCookie</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetGestureBack</string>
				<key>jsApi</key>
				<string>setGestureBack</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4Toast</string>
				<key>jsApi</key>
				<string>toast</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4HideToast</string>
				<key>jsApi</key>
				<string>hideToast</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4PushWindow</string>
				<key>jsApi</key>
				<string>pushWindow</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4PopWindow</string>
				<key>jsApi</key>
				<string>popWindow</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4CloseWebview</string>
				<key>jsApi</key>
				<string>closeWebview</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetNetworkType</string>
				<key>jsApi</key>
				<string>getNetworkType</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4StartApp</string>
				<key>jsApi</key>
				<string>startApp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4StartApp</string>
				<key>jsApi</key>
				<string>startH5App</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ExitSession</string>
				<key>jsApi</key>
				<string>exitSession</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SendSMS</string>
				<key>jsApi</key>
				<string>sendSMS</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4TradePay</string>
				<key>jsApi</key>
				<string>tradePay</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetStatusBar</string>
				<key>jsApi</key>
				<string>setStatusbar</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetSessionData</string>
				<key>jsApi</key>
				<string>setSessionData</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetSessionData</string>
				<key>jsApi</key>
				<string>getSessionData</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetConfig</string>
				<key>jsApi</key>
				<string>getConfig</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4CheckJSAPI</string>
				<key>jsApi</key>
				<string>checkJSAPI</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4CheckApp</string>
				<key>jsApi</key>
				<string>checkApp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4IsInstalledApp</string>
				<key>jsApi</key>
				<string>isInstalledApp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4PopTo</string>
				<key>jsApi</key>
				<string>popTo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4OpenInBrowser</string>
				<key>jsApi</key>
				<string>openInBrowser</string>
				<key>alias</key>
				<string>openSystemSetting</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4CanOpenInBrowser</string>
				<key>jsApi</key>
				<string>canOpenInBrowser</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4PostNotification</string>
				<key>jsApi</key>
				<string>postNotification</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4Deposit</string>
				<key>jsApi</key>
				<string>deposit</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4LocalLog</string>
				<key>jsApi</key>
				<string>localLog</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ActionSheet</string>
				<key>jsApi</key>
				<string>actionSheet</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4Vibrate</string>
				<key>jsApi</key>
				<string>vibrate</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ExitApp</string>
				<key>jsApi</key>
				<string>exitApp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4RSA</string>
				<key>jsApi</key>
				<string>rsa</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetThirdPartyAuthcode</string>
				<key>jsApi</key>
				<string>getThirdPartyAuthcode</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetSharedData</string>
				<key>jsApi</key>
				<string>getSharedData</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetSharedData</string>
				<key>jsApi</key>
				<string>setSharedData</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4RemoveSharedData</string>
				<key>jsApi</key>
				<string>removeSharedData</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SaveImage</string>
				<key>jsApi</key>
				<string>saveImage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SaveImage</string>
				<key>jsApi</key>
				<string>privateSaveImage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetClientInfo</string>
				<key>jsApi</key>
				<string>getClientInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4HTTPRequest</string>
				<key>jsApi</key>
				<string>httpRequest</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4Rpc</string>
				<key>jsApi</key>
				<string>rpc</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4OpenRpc</string>
				<key>jsApi</key>
				<string>openRpc</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4Snapshot</string>
				<key>jsApi</key>
				<string>snapshot</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4Ping</string>
				<key>jsApi</key>
				<string>ping</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4DatePicker</string>
				<key>jsApi</key>
				<string>datePicker</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4StartPackage</string>
				<key>jsApi</key>
				<string>startPackage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4HideDatePicker</string>
				<key>jsApi</key>
				<string>hideDatePicker</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4PreRender</string>
				<key>jsApi</key>
				<string>preRender</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4FinishRender</string>
				<key>jsApi</key>
				<string>finishRender</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ClearRender</string>
				<key>jsApi</key>
				<string>clearRender</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SwitchControl</string>
				<key>jsApi</key>
				<string>switchControl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4AddNotifyListener</string>
				<key>jsApi</key>
				<string>addNotifyListener</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4RemoveNotifyListener</string>
				<key>jsApi</key>
				<string>removeNotifyListener</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4RestorePullToRefresh</string>
				<key>jsApi</key>
				<string>restorePullToRefresh</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetAPDataStorage</string>
				<key>jsApi</key>
				<string>setAPDataStorage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetAPDataStorage</string>
				<key>jsApi</key>
				<string>getAPDataStorage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4RemoveAPDataStorage</string>
				<key>jsApi</key>
				<string>removeAPDataStorage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetUserInfo</string>
				<key>jsApi</key>
				<string>getUserInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4LimitAlert</string>
				<key>jsApi</key>
				<string>limitAlert</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetTitleColor</string>
				<key>jsApi</key>
				<string>setTitleColor</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4AliAutoLogin</string>
				<key>jsApi</key>
				<string>aliAutoLogin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetServerTime</string>
				<key>jsApi</key>
				<string>getServerTime</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4MtBizReport</string>
				<key>jsApi</key>
				<string>mtBizReport</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4TabBar</string>
				<key>jsApi</key>
				<string>tabBar</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetPullDownText</string>
				<key>jsApi</key>
				<string>setPullDownText</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4HideTransBack</string>
				<key>jsApi</key>
				<string>hideTransBack</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetBarBottomLineColor</string>
				<key>jsApi</key>
				<string>setBarBottomLineColor</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetAuthCode</string>
				<key>jsApi</key>
				<string>getAuthCode</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetAuthUserInfo</string>
				<key>jsApi</key>
				<string>getAuthUserInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ReportClickTime</string>
				<key>jsApi</key>
				<string>reportClickTime</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsapiHandler4setTransparentTitle</string>
				<key>jsApi</key>
				<string>setTransparentTitle</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetCanPullDown</string>
				<key>jsApi</key>
				<string>setCanPullDown</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4StartPullDownRefresh</string>
				<key>jsApi</key>
				<string>startPullDownRefresh</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHander4PushStateChange</string>
				<key>jsApi</key>
				<string>pushStateChange</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetTitleSegControl</string>
				<key>jsApi</key>
				<string>setTitleSegControl</string>
			</dict>
		</array>
	</dict>
	<key>PluginRuntime</key>
	<dict>
		<key>Plugins</key>
		<array>
			<dict>
				<key>scope</key>
				<string>session</string>
				<key>name</key>
				<string>Plugin4SafePay</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>scope</key>
				<string>scene</string>
				<key>name</key>
				<string>Plugin4NetworkDiagnose</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>scope</key>
				<string>scene</string>
				<key>name</key>
				<string>Plugin4ResponseRedirect</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4ErrorPageNew</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4JsapiSecLog</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4LogSwitch</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4Darwin</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4ResourceFilter</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4MASSProxy</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4JsBridge</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4PushBizWindowResult</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4TabBar</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4TinyAppPopMenu</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4TinyAppMiniServer</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4TinyAppNavBar</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4ScreenAutolock</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4MainDocChangeCount</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4StartBizService</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4SearchBar</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4ViewDidDestruct</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4ResourceLost</string>
			</dict>
			<dict>
				<key>scope</key>
				<string>scene</string>
				<key>name</key>
				<string>Plugin4PageContentLog</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4CORS</string>
				<key>events</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4BindVariables</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene.create</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4HandleProxyRequest</string>
				<key>events</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4LdcLevel</string>
				<key>events</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4CDNWebP</string>
				<key>events</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4AutoLogin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4SpeechRecognizer</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4Image</string>
			</dict>
			<dict>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
				<key>name</key>
				<string>Plugin4Auth</string>
			</dict>
			<dict>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
				<key>name</key>
				<string>Plugin4SsoLoginWithEntranceRPC</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4AutoLoginFirstLoadRequest</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4SPDY</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4SceneUnLoad</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBPlugin4Session</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBPlugin4Service</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBPlugin4Scene</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBPlugin4TitleBar</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBPlugin4NavigationTitleView</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4NavigationItem</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBPlugin4NavigationItem</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBPlugin4ProgressView</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4NumberKeyboard</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4Alert</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4TitleView</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4LoadingView</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4ProgressView</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4ErrorPage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NAPlugin4WholeNet</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4RPC</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4WKWebView</string>
			</dict>
			<dict>
				<key>scope</key>
				<string>scene</string>
				<key>name</key>
				<string>Plugin4Transparent</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>scope</key>
				<string>scene</string>
				<key>name</key>
				<string>Plugin4PreRender</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4MainLinkAppStart</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBLogNetPlugin</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>ComponentRuntime</key>
	<dict>
		<key>Components</key>
		<array>
			<dict>
				<key>name</key>
				<string>NBComponentErrorIcon</string>
				<key>component</key>
				<string>errorPageIcon</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
