<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JsApiRuntime</key>
	<dict>
		<key>JsApis</key>
		<array>
			<dict>
				<key>jsApi</key>
				<string>tinyToNative</string>
				<key>name</key>
				<string>MP_JsApi4TinyEventHandler</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>myapi1</string>
				<key>name</key>
				<string>MPJsApiHandler4OpenSms</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>myapi2</string>
				<key>name</key>
				<string>MPJsApiHandler4SetDoubleTitle</string>
			</dict>
			<dict>
				<key>name</key>
				<string>MyJsApiHandler4MyApp</string>
				<key>jsApi</key>
				<string>mycustomapi</string>
			</dict>
			<dict>
				<key>name</key>
				<string>MP_JsApiHandler4OPenCamera</string>
				<key>jsApi</key>
				<string>openCamera</string>
			</dict>
			<dict>
				<key>name</key>
				<string>MP_JsApiHandler4Version</string>
				<key>jsApi</key>
				<string>getAppVersion</string>
			</dict>
			<dict>
				<key>name</key>
				<string>YKBGetUserInfoJsApi</string>
				<key>jsApi</key>
				<string>getYkbUserInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>MP_JSAPIUserInfo</string>
				<key>jsApi</key>
				<string>getYkbUserInfoApi</string>
			</dict>
		</array>
	</dict>
	<key>PluginRuntime</key>
	<dict>
		<key>Plugins</key>
		<array>
			<dict>
				<key>name</key>
				<string>MPPlugin4TitleView</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>MPPlugin4WebView</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>scope</key>
				<string>scene</string>
				<key>name</key>
				<string>PromotionJSPlugin</string>
				<key>event</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
