<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.alimobilesec.SecurityGuardSDK</string>
	<key>CFBundleName</key>
	<string>SecurityGuardSDK</string>
	<key>CFBundleShortVersionString</key>
	<string>5.4.2009</string>
</dict>
</plist>
