<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>set</key>
	<dict>
		<key>unicode</key>
		<real>58925</real>
		<key>color</key>
		<string>0xff6600</string>
	</dict>
	<key>more_unfold</key>
	<dict>
		<key>unicode</key>
		<integer>59046</integer>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>me</key>
	<dict>
		<key>unicode</key>
		<real>58926</real>
		<key>color</key>
		<string>0xff6600</string>
	</dict>
	<key>search</key>
	<dict>
		<key>unicode</key>
		<real>58927</real>
		<key>color</key>
		<string>0xff6600</string>
	</dict>
	<key>selected</key>
	<dict>
		<key>unicode</key>
		<real>59053</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>add</key>
	<dict>
		<key>unicode</key>
		<integer>58933</integer>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>more</key>
	<dict>
		<key>unicode</key>
		<real>58935</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>help</key>
	<dict>
		<key>unicode</key>
		<real>58937</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>warn</key>
	<dict>
		<key>unicode</key>
		<real>58938</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>prompt</key>
	<dict>
		<key>unicode</key>
		<real>58939</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>success</key>
	<dict>
		<key>unicode</key>
		<real>58940</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>alipay</key>
	<dict>
		<key>unicode</key>
		<real>58941</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>waiting</key>
	<dict>
		<key>unicode</key>
		<real>58942</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>failure</key>
	<dict>
		<key>unicode</key>
		<real>58943</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>video</key>
	<dict>
		<key>unicode</key>
		<real>58920</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>helpbig</key>
	<dict>
		<key>unicode</key>
		<real>58944</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>warnbig</key>
	<dict>
		<key>unicode</key>
		<real>58945</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
	<key>promptbig</key>
	<dict>
		<key>unicode</key>
		<real>58946</real>
		<key>color</key>
		<string>0x00a8ff</string>
	</dict>
</dict>
</plist>
