<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>AlipayDefault</string>
	<key>Constants</key>
	<dict>
		<key>AntBlue</key>
		<string>#108EE9</string>
	</dict>
	<key>StatusBarStyle</key>
	<integer>0</integer>
	<key>NavigationBarStyle</key>
	<integer>0</integer>
	<key>APNavigationBar</key>
	<dict>
		<key>Global</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>#000000</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<true/>
					<key>Size</key>
					<string>18</string>
				</dict>
			</dict>
			<key>DetailTitle</key>
			<dict>
				<key>TextColor</key>
				<string>#000000</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<dict>
						<key>screen&gt;=phone6p</key>
						<string>12</string>
						<key>Default</key>
						<string>10</string>
					</dict>
				</dict>
			</dict>
			<key>Background</key>
			<dict>
				<key>TintColor</key>
				<string>#000000</string>
				<key>BarTintColor</key>
				<string>#fffffff4</string>
				<key>Translucent</key>
				<true/>
			</dict>
		</dict>
		<key>Button</key>
		<dict>
			<key>BackImage</key>
			<string>back_button_normal</string>
			<key>TextColor</key>
			<string>$AntBlue</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>16</string>
			</dict>
		</dict>
		<key>Background</key>
		<dict>
			<key>MaskBottomLine</key>
			<true/>
			<key>BottomLineColor</key>
			<string>#e1e1e1</string>
			<key>Color</key>
			<string>#fffffff4</string>
			<key>Translucent</key>
			<true/>
			<key>OpaqueColor</key>
			<string>#ffffff</string>
		</dict>
	</dict>
	<key>APExceptionView</key>
	<dict>
		<key>Title</key>
		<dict>
			<key>TextColor</key>
			<string>#000000</string>
			<key>Font</key>
			<dict>
				<key>Bold</key>
				<string></string>
				<key>Size</key>
				<string>18</string>
			</dict>
		</dict>
		<key>DetailTitle</key>
		<dict>
			<key>TextColor</key>
			<string>#999999</string>
			<key>Font</key>
			<dict>
				<key>Bold</key>
				<string></string>
				<key>Size</key>
				<string>13</string>
			</dict>
		</dict>
		<key>ActionButton</key>
		<dict>
			<key>TextColor</key>
			<dict>
				<key>Normal</key>
				<string>$AntBlue</string>
				<key>Highlighted</key>
				<string>#1284D6</string>
			</dict>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>18</string>
			</dict>
		</dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<string>#f5f5f9</string>
		</dict>
		<key>ExceptionImage</key>
		<dict>
			<key>Minimalist</key>
			<dict>
				<key>Alert</key>
				<string>ap_expection_alert</string>
				<key>Empty</key>
				<string>ap_expection_empty</string>
				<key>NetworkError</key>
				<string>ap_expection_networkerror</string>
				<key>Limit</key>
				<string>ilustration_ap_expection_limit</string>
			</dict>
			<key>Ilustration</key>
			<dict>
				<key>Alert</key>
				<string>ilustration_ap_expection_alert</string>
				<key>Empty</key>
				<string>ilustration_ap_expection_empty</string>
				<key>NetworkError</key>
				<string>ilustration_ap_expection_networkerror</string>
				<key>Limit</key>
				<string>ilustration_ap_expection_limit</string>
			</dict>
		</dict>
	</dict>
	<key>APButton</key>
	<dict>
		<key>Global</key>
		<dict>
			<key>Left</key>
			<string>15</string>
			<key>Height</key>
			<string>42</string>
			<key>CornerRadius</key>
			<string>5</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>18</string>
			</dict>
		</dict>
		<key>Main</key>
		<dict>
			<key>Normal</key>
			<dict>
				<key>Color</key>
				<string>$AntBlue</string>
				<key>TitleColor</key>
				<string>#ffffff</string>
			</dict>
			<key>Highlighted</key>
			<dict>
				<key>Color</key>
				<string>#0E80D2</string>
				<key>TitleColor</key>
				<string>#ffffff4c</string>
			</dict>
			<key>Disabled</key>
			<dict>
				<key>Color</key>
				<string>#108ee966</string>
				<key>TitleColor</key>
				<string>#ffffff66</string>
			</dict>
		</dict>
		<key>Secondary</key>
		<dict>
			<key>BorderColor</key>
			<string>#dddddd</string>
			<key>Normal</key>
			<dict>
				<key>Color</key>
				<string>#ffffff</string>
				<key>TitleColor</key>
				<string>#000000</string>
			</dict>
			<key>Highlighted</key>
			<dict>
				<key>Color</key>
				<string>#dddddd</string>
				<key>TitleColor</key>
				<string>#0000004c</string>
			</dict>
			<key>Disabled</key>
			<dict>
				<key>Color</key>
				<string>#ffffff99</string>
				<key>TitleColor</key>
				<string>#0000004c</string>
			</dict>
		</dict>
		<key>Caution</key>
		<dict>
			<key>CornerRadius</key>
			<integer>0</integer>
			<key>BorderColor</key>
			<string>#dddddd</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>18</string>
			</dict>
			<key>Normal</key>
			<dict>
				<key>Color</key>
				<string>#ffffff</string>
				<key>TitleColor</key>
				<string>#f4333c</string>
			</dict>
			<key>Highlighted</key>
			<dict>
				<key>Color</key>
				<string>#e1e1e1</string>
				<key>TitleColor</key>
				<string>#f4333c</string>
			</dict>
			<key>Disabled</key>
			<dict>
				<key>Color</key>
				<string>#dddddd</string>
				<key>TitleColor</key>
				<string>#bbbbbb</string>
			</dict>
		</dict>
		<key>Social</key>
		<dict>
			<key>Normal</key>
			<dict>
				<key>Color</key>
				<string>#06bf04</string>
				<key>TitleColor</key>
				<string>#ffffff</string>
			</dict>
			<key>Highlighted</key>
			<dict>
				<key>Color</key>
				<string>#05ac04</string>
				<key>TitleColor</key>
				<string>#ffffff</string>
			</dict>
			<key>Disabled</key>
			<dict>
				<key>Color</key>
				<string>#ebebf0</string>
				<key>TitleColor</key>
				<string>#d2d2d2</string>
			</dict>
		</dict>
		<key>Assist</key>
		<dict>
			<key>CornerRadius</key>
			<integer>3</integer>
			<key>BorderColor</key>
			<string>$AntBlue</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>12</string>
			</dict>
			<key>Normal</key>
			<dict>
				<key>Color</key>
				<string>#ffffff</string>
				<key>TitleColor</key>
				<string>$AntBlue</string>
			</dict>
			<key>Highlighted</key>
			<dict>
				<key>Color</key>
				<string>$AntBlue</string>
				<key>TitleColor</key>
				<string>#ffffff</string>
			</dict>
			<key>Disabled</key>
			<dict>
				<key>Color</key>
				<string>#dddddd</string>
				<key>TitleColor</key>
				<string>#bbbbbb</string>
			</dict>
		</dict>
	</dict>
	<key>APSegmentedControl</key>
	<dict>
		<key>Height</key>
		<integer>44</integer>
		<key>TintColor</key>
		<string>$AntBlue</string>
	</dict>
	<key>APBarItem</key>
	<dict>
		<key>TextColor</key>
		<string>$AntBlue</string>
		<key>Font</key>
		<dict>
			<key>Size</key>
			<string>16</string>
		</dict>
	</dict>
	<key>APTextField</key>
	<dict>
		<key>Placeholder</key>
		<dict>
			<key>TextColor</key>
			<string>#cccccc</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>16</string>
			</dict>
		</dict>
		<key>Title</key>
		<dict>
			<key>TextColor</key>
			<string>#333333</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>17</string>
			</dict>
		</dict>
		<key>ButtonX</key>
		<dict>
			<key>Global</key>
			<dict>
				<key>Background</key>
				<string>#ffffff00</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<string>20</string>
				</dict>
			</dict>
			<key>Normal</key>
			<dict>
				<key>TextColor</key>
				<string>#000000</string>
			</dict>
		</dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<string>#ffffff00</string>
		</dict>
	</dict>
	<key>APInputBox</key>
	<dict>
		<key>Height</key>
		<string>45</string>
		<key>TitleLabel</key>
		<dict>
			<key>Left</key>
			<string>15</string>
			<key>TextColor</key>
			<dict>
				<key>Normal</key>
				<string>#000000</string>
				<key>Invalid</key>
				<string>#ff0000</string>
			</dict>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>17</string>
			</dict>
			<key>BackgroundColor</key>
			<string>#ffffff00</string>
		</dict>
		<key>TextField</key>
		<dict>
			<key>Left</key>
			<string>17</string>
		</dict>
		<key>IconButton</key>
		<dict>
			<key>Left</key>
			<string>8</string>
			<key>Right</key>
			<string>15</string>
		</dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<string>#ffffff00</string>
			<key>CornerImage</key>
			<string>inputbox6</string>
			<key>InCornerImage</key>
			<string>inputbox7</string>
		</dict>
	</dict>
	<key>APLimitView</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<string>#ffffff</string>
			<key>CornerRadius</key>
			<string>7</string>
		</dict>
		<key>CloseButton</key>
		<dict>
			<key>Margin</key>
			<dict>
				<key>Top</key>
				<string>15</string>
				<key>Left</key>
				<string>15</string>
			</dict>
			<key>Image</key>
			<string>limit_close</string>
		</dict>
		<key>Logo</key>
		<dict>
			<key>Top</key>
			<string>36</string>
			<key>Image</key>
			<string>ilustration_ap_expection_limit</string>
		</dict>
		<key>Title</key>
		<dict>
			<key>Top</key>
			<string>15</string>
			<key>TextColor</key>
			<string>#000000</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>18</string>
			</dict>
		</dict>
		<key>DetailTitle</key>
		<dict>
			<key>Top</key>
			<string>9</string>
			<key>TextColor</key>
			<string>#999999</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>15</string>
			</dict>
		</dict>
		<key>LinkButton</key>
		<dict>
			<key>Top</key>
			<string>9</string>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>$AntBlue</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<string>13</string>
				</dict>
			</dict>
		</dict>
		<key>ActionButton</key>
		<dict>
			<key>Top</key>
			<string>21</string>
			<key>Background</key>
			<dict>
				<key>Color</key>
				<string>#ffffff</string>
				<key>CornerRadius</key>
				<string>5</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>#108ee9</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<string>18</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>APSettingTipFloatView</key>
	<dict>
		<key>SettingTipRedEnvelope</key>
		<dict>
			<key>Background</key>
			<string>#fffbeb</string>
			<key>Top</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>36</string>
				<key>Default</key>
				<string>32</string>
			</dict>
			<key>Width</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>280</string>
				<key>Default</key>
				<string>252</string>
			</dict>
			<key>MainImage</key>
			<string>setting_tip_image_red</string>
			<key>MainImageHeight</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>161</string>
				<key>Default</key>
				<string>145</string>
			</dict>
			<key>CloseImage</key>
			<string>setting_tip_close_red</string>
			<key>CloseButtonSize</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>22.4</string>
				<key>Default</key>
				<string>20</string>
			</dict>
			<key>PaddingCorner</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>12</string>
				<key>Default</key>
				<string>12</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>Top</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>25</string>
					<key>Default</key>
					<string>10</string>
				</dict>
				<key>TextColor</key>
				<string>#bf7414</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<string></string>
					<key>Size</key>
					<dict>
						<key>screen&gt;=phone6p</key>
						<string>22.4</string>
						<key>Default</key>
						<string>20</string>
					</dict>
				</dict>
			</dict>
			<key>DetailTitle</key>
			<dict>
				<key>Top</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>5</string>
					<key>Default</key>
					<string>5</string>
				</dict>
				<key>TextColor</key>
				<string>#d7a25d</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<string></string>
					<key>Size</key>
					<dict>
						<key>screen&gt;=phone6p</key>
						<string>16.8</string>
						<key>Default</key>
						<string>15</string>
					</dict>
				</dict>
			</dict>
			<key>ActionButton</key>
			<dict>
				<key>Top</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>22.4</string>
					<key>Default</key>
					<string>20</string>
				</dict>
				<key>Global</key>
				<dict>
					<key>Title</key>
					<dict>
						<key>TextColor</key>
						<string>#ffffff</string>
						<key>Font</key>
						<dict>
							<key>Bold</key>
							<string></string>
							<key>Size</key>
							<dict>
								<key>screen&gt;=phone6p</key>
								<string>22.4</string>
								<key>Default</key>
								<string>20</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>NormalColor</key>
				<string>#eb6053</string>
				<key>DisabledColor</key>
				<string>#f8f8f8</string>
				<key>CornerRadius</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>22.4</string>
					<key>Default</key>
					<string>20</string>
				</dict>
				<key>Width</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>230</string>
					<key>Default</key>
					<string>205</string>
				</dict>
				<key>Height</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>44.8</string>
					<key>Default</key>
					<string>40</string>
				</dict>
			</dict>
			<key>Bottom</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>16.8</string>
				<key>Default</key>
				<string>15</string>
			</dict>
		</dict>
		<key>SettingTipStyleMessage</key>
		<dict>
			<key>Background</key>
			<string>#ffffff</string>
			<key>Top</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>30</string>
				<key>Default</key>
				<string>30</string>
			</dict>
			<key>Width</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>270</string>
				<key>Default</key>
				<string>270</string>
			</dict>
			<key>MainImage</key>
			<string>setting_tip_image_blue</string>
			<key>MainImageHeight</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>168</string>
				<key>Default</key>
				<string>168</string>
			</dict>
			<key>CloseImage</key>
			<string>setting_tip_close_blue</string>
			<key>CloseButtonSize</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>20</string>
				<key>Default</key>
				<string>20</string>
			</dict>
			<key>PaddingCorner</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>15</string>
				<key>Default</key>
				<string>15</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>Top</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>22</string>
					<key>Default</key>
					<string>22</string>
				</dict>
				<key>TextColor</key>
				<string>#333333</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<string></string>
					<key>Size</key>
					<dict>
						<key>screen&gt;=phone6p</key>
						<string>18</string>
						<key>Default</key>
						<string>18</string>
					</dict>
				</dict>
			</dict>
			<key>DetailTitle</key>
			<dict>
				<key>Top</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>9</string>
					<key>Default</key>
					<string>9</string>
				</dict>
				<key>TextColor</key>
				<string>#999999</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<string></string>
					<key>Size</key>
					<dict>
						<key>screen&gt;=phone6p</key>
						<string>13</string>
						<key>Default</key>
						<string>13</string>
					</dict>
				</dict>
			</dict>
			<key>ActionButton</key>
			<dict>
				<key>Top</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>26</string>
					<key>Default</key>
					<string>26</string>
				</dict>
				<key>Global</key>
				<dict>
					<key>Title</key>
					<dict>
						<key>TextColor</key>
						<string>#ffffff</string>
						<key>Font</key>
						<dict>
							<key>Bold</key>
							<string></string>
							<key>Size</key>
							<dict>
								<key>screen&gt;=phone6p</key>
								<string>20</string>
								<key>Default</key>
								<string>20</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>NormalColor</key>
				<string>$AntBlue</string>
				<key>DisabledColor</key>
				<string>#f8f8f8</string>
				<key>CornerRadius</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>8</string>
					<key>Default</key>
					<string>8</string>
				</dict>
				<key>Width</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>240</string>
					<key>Default</key>
					<string>240</string>
				</dict>
				<key>Height</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>40</string>
					<key>Default</key>
					<string>40</string>
				</dict>
			</dict>
			<key>Bottom</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>25</string>
				<key>Default</key>
				<string>15</string>
			</dict>
		</dict>
		<key>LocationGuide</key>
		<dict>
			<key>Background</key>
			<string>#ffffff</string>
			<key>Top</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>30</string>
				<key>Default</key>
				<string>30</string>
			</dict>
			<key>Width</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>270</string>
				<key>Default</key>
				<string>270</string>
			</dict>
			<key>MainImage</key>
			<string>map</string>
			<key>CloseImage</key>
			<string>setting_tip_close_blue</string>
			<key>CloseButtonSize</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>28</string>
				<key>Default</key>
				<string>28</string>
			</dict>
			<key>CloseImageSize</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>15</string>
				<key>Default</key>
				<string>15</string>
			</dict>
			<key>PaddingCorner</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>15</string>
				<key>Default</key>
				<string>15</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>Top</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>22</string>
					<key>Default</key>
					<string>22</string>
				</dict>
				<key>TextColor</key>
				<string>#333333</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<string></string>
					<key>Size</key>
					<dict>
						<key>screen&gt;=phone6p</key>
						<string>18</string>
						<key>Default</key>
						<string>18</string>
					</dict>
				</dict>
			</dict>
			<key>DetailTitle</key>
			<dict>
				<key>Top</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>9</string>
					<key>Default</key>
					<string>9</string>
				</dict>
				<key>TextColor</key>
				<string>#333333</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<string></string>
					<key>Size</key>
					<dict>
						<key>screen&gt;=phone6p</key>
						<string>13</string>
						<key>Default</key>
						<string>13</string>
					</dict>
				</dict>
			</dict>
			<key>ActionButton</key>
			<dict>
				<key>Top</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>30</string>
					<key>Default</key>
					<string>30</string>
				</dict>
				<key>Global</key>
				<dict>
					<key>Title</key>
					<dict>
						<key>TextColor</key>
						<string>#ffffff</string>
						<key>Font</key>
						<dict>
							<key>Bold</key>
							<string></string>
							<key>Size</key>
							<dict>
								<key>screen&gt;=phone6p</key>
								<string>20</string>
								<key>Default</key>
								<string>20</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>NormalColor</key>
				<string>$AntBlue</string>
				<key>DisabledColor</key>
				<string>#f8f8f8</string>
				<key>CornerRadius</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>8</string>
					<key>Default</key>
					<string>8</string>
				</dict>
				<key>Width</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>240</string>
					<key>Default</key>
					<string>240</string>
				</dict>
				<key>Height</key>
				<dict>
					<key>screen&gt;=phone6p</key>
					<string>40</string>
					<key>Default</key>
					<string>40</string>
				</dict>
			</dict>
			<key>Bottom</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<string>21</string>
				<key>Default</key>
				<string>21</string>
			</dict>
		</dict>
	</dict>
	<key>APTableViewCell</key>
	<dict>
		<key>Dimensions</key>
		<dict>
			<key>Height</key>
			<dict>
				<key>SingleLine</key>
				<string>45</string>
				<key>DoubleLine</key>
				<string>67</string>
			</dict>
			<key>ImageSize</key>
			<dict>
				<key>SingleLine</key>
				<string>21</string>
				<key>DoubleLine</key>
				<string>45</string>
			</dict>
			<key>Margin</key>
			<dict>
				<key>Left</key>
				<string>15</string>
			</dict>
		</dict>
		<key>Background</key>
		<dict>
			<key>NormalColor</key>
			<string>#ffffff</string>
			<key>SelectedColor</key>
			<string>#D9D9D9</string>
		</dict>
		<key>SeperatorLine</key>
		<dict>
			<key>Color</key>
			<string>#dddddd</string>
		</dict>
		<key>Title</key>
		<dict>
			<key>TextColor</key>
			<string>#000000</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>17</string>
			</dict>
		</dict>
		<key>DetailTitle</key>
		<dict>
			<key>TextColor</key>
			<string>#999999</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>14</string>
			</dict>
		</dict>
		<key>RightTitle</key>
		<dict>
			<key>TextColor</key>
			<string>#999999</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>17</string>
			</dict>
		</dict>
		<key>RightDetailTitle</key>
		<dict>
			<key>TextColor</key>
			<string>#999999</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>12</string>
			</dict>
		</dict>
	</dict>
	<key>APTableViewBaseCell</key>
	<dict>
		<key>Dimensions</key>
		<dict>
			<key>Margin</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<integer>20</integer>
				<key>Default</key>
				<integer>15</integer>
			</dict>
			<key>ImageSize</key>
			<integer>29</integer>
		</dict>
		<key>Background</key>
		<dict>
			<key>NormalColor</key>
			<string>#ffffff</string>
			<key>SelectedColor</key>
			<string>#e1e1e1</string>
		</dict>
		<key>SeperatorLine</key>
		<dict>
			<key>Color</key>
			<string>#dddddd</string>
		</dict>
		<key>CellTitle</key>
		<dict>
			<key>TextColor</key>
			<string>#000000</string>
			<key>Font</key>
			<dict>
				<key>Bold</key>
				<string>YES</string>
				<key>Size</key>
				<string>16</string>
			</dict>
			<key>BackgroundColor</key>
			<string>#ffffff00</string>
		</dict>
		<key>CellInfo</key>
		<dict>
			<key>TextColor</key>
			<string>#999999</string>
			<key>Font</key>
			<dict>
				<key>Bold</key>
				<string>NO</string>
				<key>Size</key>
				<string>14</string>
			</dict>
			<key>BackgroundColor</key>
			<string>#ffffff00</string>
		</dict>
	</dict>
	<key>APTableViewDoubleLineCell</key>
	<dict>
		<key>Dimensions</key>
		<dict>
			<key>ImageSize</key>
			<integer>40</integer>
			<key>RightInfoImageSize</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>APTableViewTwoTextCell</key>
	<dict>
		<key>Dimensions</key>
		<dict>
			<key>Margin</key>
			<dict>
				<key>screen&gt;=phone6p</key>
				<integer>20</integer>
				<key>Default</key>
				<integer>15</integer>
			</dict>
			<key>ImageSize</key>
			<integer>29</integer>
		</dict>
		<key>Background</key>
		<dict>
			<key>NormalColor</key>
			<string>#ffffff</string>
			<key>SelectedColor</key>
			<string>#e1e1e1</string>
		</dict>
		<key>SeperatorLine</key>
		<dict>
			<key>Color</key>
			<string>#dddddd</string>
		</dict>
		<key>Left</key>
		<dict>
			<key>TextColor</key>
			<string>#000000</string>
			<key>Font</key>
			<dict>
				<key>Bold</key>
				<string>NO</string>
				<key>Size</key>
				<string>17</string>
			</dict>
			<key>BackgroundColor</key>
			<string>#ffffff00</string>
		</dict>
		<key>Right</key>
		<dict>
			<key>TextColor</key>
			<string>#999999</string>
			<key>Font</key>
			<dict>
				<key>Bold</key>
				<string>NO</string>
				<key>Size</key>
				<string>17</string>
			</dict>
			<key>BackgroundColor</key>
			<string>#ffffff00</string>
		</dict>
	</dict>
	<key>APToastView</key>
	<dict>
		<key>Width</key>
		<dict>
			<key>WithIcon</key>
			<string>90</string>
			<key>WithoutIcon</key>
			<string>212</string>
		</dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<string>#3a3a3a</string>
			<key>CornerRadius</key>
			<string>6</string>
		</dict>
		<key>ToastImage</key>
		<dict>
			<key>Top</key>
			<string>16</string>
			<key>Success</key>
			<string>toast_success</string>
			<key>Failure</key>
			<string>toast_failure</string>
			<key>NetFailure</key>
			<string>toast_net_failure</string>
			<key>SecurityScan</key>
			<string>toast_scan</string>
			<key>Alert</key>
			<string>toast_alert</string>
		</dict>
		<key>Title</key>
		<dict>
			<key>TextColor</key>
			<string>#ffffff</string>
			<key>Font</key>
			<dict>
				<key>Bold</key>
				<string></string>
				<key>Size</key>
				<string>13</string>
			</dict>
			<key>Margin</key>
			<dict>
				<key>WithIcon</key>
				<dict>
					<key>Top</key>
					<string>6</string>
					<key>Right</key>
					<string>6</string>
					<key>Bottom</key>
					<string>16</string>
				</dict>
				<key>WithoutIcon</key>
				<dict>
					<key>Top</key>
					<string>10</string>
					<key>Right</key>
					<string>15</string>
					<key>Bottom</key>
					<string>10</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>APPickView</key>
	<dict>
		<key>BackGround</key>
		<dict>
			<key>Color</key>
			<string>#ffffff</string>
		</dict>
		<key>ToolBar</key>
		<dict>
			<key>BottomLineColor</key>
			<string>#cdcdcd</string>
			<key>ActionButton</key>
			<dict>
				<key>TextColor</key>
				<dict>
					<key>Normal</key>
					<string>$AntBlue</string>
					<key>Highlighted</key>
					<string>#1284D6</string>
				</dict>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<string>16</string>
				</dict>
			</dict>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>#333333</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<string></string>
					<key>Size</key>
					<string>16</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>APSmsSecurityCodeBox</key>
	<dict>
		<key>BorderImage</key>
		<string>securityCodeBox_BG</string>
		<key>Height</key>
		<string>45</string>
		<key>TitleLabel</key>
		<dict>
			<key>Left</key>
			<string>15</string>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>#000000</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<string>NO</string>
					<key>Size</key>
					<string>17</string>
				</dict>
			</dict>
		</dict>
		<key>TextField</key>
		<dict>
			<key>Left</key>
			<string>17</string>
		</dict>
		<key>ActionButton</key>
		<dict>
			<key>BackgroundImage</key>
			<string>securityCodeBox_Btn_BG</string>
			<key>Width</key>
			<string>100</string>
			<key>TextColor</key>
			<dict>
				<key>Normal</key>
				<string>$AntBlue</string>
				<key>Disable</key>
				<string>#999999</string>
			</dict>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>16</string>
			</dict>
		</dict>
	</dict>
	<key>APCheckBox</key>
	<dict>
		<key>Default</key>
		<dict>
			<key>Frame</key>
			<dict>
				<key>OffsetX</key>
				<string>15</string>
				<key>Height</key>
				<string>20</string>
			</dict>
			<key>CheckImage</key>
			<dict>
				<key>Margin</key>
				<dict>
					<key>Right</key>
					<string>6</string>
				</dict>
				<key>Checked</key>
				<string>checkbox_checked</string>
				<key>Unchecked</key>
				<string>checkbox_unchecked</string>
				<key>Disable</key>
				<string>checkbox_disable</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>#000000</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<string>14</string>
				</dict>
			</dict>
		</dict>
		<key>Main</key>
		<dict>
			<key>Frame</key>
			<dict>
				<key>OffsetX</key>
				<string>15</string>
				<key>Height</key>
				<string>24</string>
			</dict>
			<key>CheckImage</key>
			<dict>
				<key>Margin</key>
				<dict>
					<key>Right</key>
					<string>15</string>
				</dict>
				<key>Checked</key>
				<string>checkbox_main_checked</string>
				<key>Unchecked</key>
				<string>checkbox_main_unchecked</string>
				<key>Disable</key>
				<string>checkbox_main_disable</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>#000000</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<string>17</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>APActionSheet</key>
	<dict>
		<key>Global</key>
		<dict>
			<key>AnimationDuration</key>
			<string>0.4</string>
			<key>BackgroundColor</key>
			<string>#f2f2f2</string>
		</dict>
		<key>TitleLabel</key>
		<dict>
			<key>TextColor</key>
			<string>#999999</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>13</string>
			</dict>
		</dict>
		<key>Button</key>
		<dict>
			<key>Height</key>
			<string>42</string>
			<key>TextColor</key>
			<dict>
				<key>Normal</key>
				<string>#000000</string>
				<key>Disabled</key>
				<string>#e5e5e5</string>
				<key>Destructive</key>
				<string>#ff0000</string>
			</dict>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>17</string>
			</dict>
			<key>SeparatorLine</key>
			<dict>
				<key>BorderWidth</key>
				<string>0.5</string>
				<key>Color</key>
				<string>#dddddd</string>
			</dict>
			<key>SelectedColor</key>
			<string>#dddddd</string>
		</dict>
	</dict>
	<key>EGORefreshTableHeaderView</key>
	<dict>
		<key>Background</key>
		<string>#f5f5f9</string>
		<key>Label</key>
		<dict>
			<key>TextColor</key>
			<string>#0000006e</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<string>13</string>
			</dict>
		</dict>
	</dict>
	<key>APActivityIndicatorView</key>
	<dict>
		<key>TrackColor</key>
		<string>#cccccc</string>
		<key>ProgressColor</key>
		<string>$AntBlue</string>
		<key>ProgressWidth</key>
		<dict>
			<key>TitleBar</key>
			<string>1.5</string>
			<key>Refresh</key>
			<string>2</string>
			<key>Toast</key>
			<string>3</string>
			<key>Loading</key>
			<string>3</string>
		</dict>
		<key>Diameter</key>
		<dict>
			<key>TitleBar</key>
			<string>18</string>
			<key>Refresh</key>
			<string>24</string>
			<key>Toast</key>
			<string>36</string>
			<key>Loading</key>
			<string>45</string>
		</dict>
	</dict>
</dict>
</plist>
