{
	"absBase64Code":"",
	"appId":"PRI95CCE11211247",
	"appKey":"PRI95CCE11211247_HARMONY",
	"base64Code":"",
	"packageName":"com.mpaas.harmonydemo",
	"rootPath":"mpaas/harmony/PRI95CCE11211247-default",
	"v6Base64Code":"",
	"workspaceId":"default",
	"rpcGW":"http://11.158.124.220/mgw.htm",
	"mpaasapi":"http://11.158.124.220/mgw.htm",
	"pushPort":"8000",
	"pushGW":"11.166.226.222",
	"logGW":"http://100.88.141.221",
	"syncport":"8666",
	"syncserver":"11.164.247.50",
	"mdc":"http://172.16.139.125",
	"mvetAppHtp":"http://11.166.226.245:8281",
	"mvetAppWS":"ws://11.166.226.245:9998"
}