<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JsApiRuntime</key>
	<dict>
		<key>JsApis</key>
		<array>
			<dict>
				<key>jsApi</key>
				<string>NXKExtensionJsapi_nx</string>
				<key>name</key>
				<string>NXKExtensionJsapi</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>pushWindow_nx</string>
				<key>name</key>
				<string>NXJsApiHandler4PushWindow</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>hideBackButton_nx</string>
				<key>name</key>
				<string>NXJsApiHandler4NavigationItemHideBackButton</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>showBackButton_nx</string>
				<key>name</key>
				<string>NXJsApiHandler4NavigationItemShowBackButton</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>showPopMenu_nx</string>
				<key>name</key>
				<string>NXJsApiHandler4NavigationItemShowPopMenu</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>hidePopMenu_nx</string>
				<key>name</key>
				<string>NXJsApiHandler4NavigationItemHidePopMenu</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>onCubeAppPerfEvent</string>
				<key>name</key>
				<string>NPJsApiHandler4OnAppPerfEvent</string>
			</dict>
            <dict>
                <key>jsApi</key>
                <string>snapshot_nx</string>
                <key>name</key>
                <string>NXJSApiHandler4Snapshot</string>
            </dict>
		</array>
	</dict>
	<key>PluginRuntime</key>
	<dict>
		<key>Plugins</key>
		<array>
			<dict>
				<key>name</key>
				<string>PluginCubeEventProxy</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>PluginWebviewController4Cube</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NXKPlugin4EventDispatch</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NXKPlugin4JSApiDispatch</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NXIPlugin4TinyAppPerformance</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>ComponentRuntime</key>
	<dict>
		<key>Components</key>
		<array>
			<dict>
				<key>name</key>
				<string>NotImpl</string>
				<key>component</key>
				<string>lottieview</string>
			</dict>
		</array>
	</dict>
	<key>ExtensionRuntime</key>
	<dict>
		<key>Extensions</key>
		<array>
			<dict>
				<key>name</key>
				<string>TestExtension</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NXAExtension4PreRender</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NXAExtension4NavigationItem</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NXAExtension4ProgressView</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
