<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mpaas.demo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="Android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="com.aliyun.permission.STORAGE_SERVICE" /> <!-- 接入小米推送 start -->
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />

    <application
        android:name="com.alipay.mobile.framework.quinoxless.QuinoxlessApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".uicontrol.StroageActivity"></activity>

        <!--昆山农商H5页面麦克风权限被拒绝添加-->
        <meta-data
            android:name="supportWebRtc"
            android:value="YES" />

        <!-- <meta-data -->
        <!-- android:name="privacy_switcher" -->
        <!-- android:value="true"></meta-data> -->

        <!--value值说明：antGroup是蓝盾-->
        <meta-data
            android:name="mpaas_security_mode"
            android:value="antGroup" />

        <meta-data
            android:name="report.launch.switch"
            android:value="off" />
        <meta-data
            android:name="mpaas.quinoxless.extern.application"
            android:value="com.mpaas.demo.MainApplication" />
        <meta-data
            android:name="UCSDKAppKey"
            android:value="JJQ/FLbHKX+ETiFNpCcb0fqjPfQ+JnjGBxDaqUm0MDcNATUVfsVrSh4KHq8of4/pFud/TDgjKf8891LpDlGG4w==" />

        <meta-data
            android:name="nebula.android.meta.enable"
            android:value="true" /> <!-- 高德定位 Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="575d2bab891c9da5ee799cfd8ffab977" /> <!-- android:value="ca9732f4c7517d24f0aaf2cd622bdd59" /> -->
        <!-- 高德定位 Service -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.mpaas.lbs.autoCheckIn"
            android:value="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mpaas.gdmap.MapImpMethodActivity" />
        <activity android:name="com.mpaas.gdmap.GdMapActivity" />
        <activity android:name=".RpcMainActivity" />
        <activity android:name=".uicontrol.UIControlActivity" /> <!-- 热修复 -->
        <activity android:name=".hotpatch.HotpatchActivityPoc" /> <!-- QQ分享时所需的AssistActivity -->
        <activity android:name=".uicontrol.storage.BaseStorageActivity" />
        <activity android:name=".uicontrol.storage.KVStorageActivity" />
        <activity android:name=".uicontrol.storage.FileStorageActivity" />

        <activity android:name=".uicontrol.storage.DBStorageActivity" />

        <activity android:name="com.mpaas.demo.UserInfoActivity" />


        <!-- <activity -->
        <!-- android:name="com.tencent.connect.common.AssistActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->
        <!-- QQ分享时所需的AuthActivity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- QQ分享ID，格式为"tencent+QQ分享ID"。请保证QQ分享ID与代码中设置的QQ分享ID相同，否则会导致分享回调异常 -->
                <data android:scheme="tencent1104122330" />
            </intent-filter>
        </activity> <!-- 升级sdk相关 start -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- 升级sdk相关 end -->
        <activity android:name=".sync.SyncLauncherActivity" />
        <activity android:name=".sync.DeviceBasedSyncActivity" />
        <activity android:name=".sync.UserBasedSyncActivity" /> <!-- mpaasapi -->
        <activity android:name=".sync.AActivity" /> <!-- mpaasapi -->
        <activity android:name=".sync.BActivity" /> <!-- mpaasapi -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <meta-data
            android:name="mmupgw.url"
            android:value="http://mmtc.mpaas.cn-hangzhou.aliyuncs.com" />
        <meta-data
            android:name="mmdpgw.url"
            android:value="http://mmtc.mpaas.cn-hangzhou.aliyuncs.com" />

        <meta-data
            android:name="mpaasapi"
            android:value="https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm" /> <!-- rpc网关 -->
        <meta-data
            android:name="mobilegw.url"
            android:value="https://cn-hangzhou-mgs-gw.cloud.alipay.com/mgw.htm" /> <!-- 无限保镖appkey,用于加密 -->
        <meta-data
            android:name="appkey"
            android:value="570DA89281533_ANDROID" /> <!-- 无限保镖AppSecret,用于加密 -->
        <meta-data
            android:name="AppSecret"
            android:value="" /> <!-- push的网关 -->
        <meta-data
            android:name="rome.push.gw"
            android:value="cn-hangzhou-mps-link.cloud.alipay.com" /> <!-- push的端口 -->
        <meta-data
            android:name="rome.push.port"
            android:value="443" /> <!-- push申请的appid -->
        <meta-data
            android:name="ALIPUSH_APPID"
            android:value="570DA89281533-default" /> <!-- 日志上传网关 -->
        <meta-data
            android:name="logging.gateway"
            android:value="https://cn-hangzhou-mas-log.cloud.alipay.com" /> <!-- 日志的加密公钥 -->
        <meta-data
            android:name="setting.logging.encryption.pubkey"
            android:value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCpffOiYcozIfgIiaOPWsmfktv7Sl/9Af3mIgYz7vkTXoGq4iMN+t5BLV6KjddVEI/9oLtAYV8qx7FhFrUoi3smcYfX35ETPUiHi1gLizeXKVSRYhIm2kiDF5lGfDgcS7uJZvmKjbdYy/RphnH+WQvQyeEH+4rjYSkdhIRE2W52BwIDAQAB" /> <!-- 监控（电量、流量、闪退、性能、业务、埋点等等）分配的id -->
        <meta-data
            android:name="workspaceId"
            android:value="default" /> <!-- 签名校验bundle的公钥 -->
        <meta-data
            android:name="client_signature"
            android:value="" /> <!-- mpaas初始的service -->
        <meta-data
            android:name="agent.commonservice.load"
            android:value="" /> <!-- 同步端口号 -->
        <meta-data
            android:name="syncport"
            android:value="443" /> <!-- 同步服务器地址 -->
        <meta-data
            android:name="syncserver"
            android:value="cn-hangzhou-mss-link.cloud.alipay.com" /> <!-- 设置appid，服务端会把这个值当成服务端appkey，做验签。如果不配置，则取appkey作为appid -->
        <meta-data
            android:name="mobilegw.appid"
            android:value="570DA89281533" /> <!-- 推荐配置：如果配置为V2，将会支持protobuff等高级特性。目前为了兼容一些老网关，默认为V1。 -->
        <meta-data
            android:name="mobilegw.rpcVersion"
            android:value="V2" /> <!-- 单组件诊断注册 -->
        <meta-data
            android:name="diagnose.registry"
            android:value="com.mpaas.health.cases.sync.SyncDiagnoseRegistry;com.mpaas.diagnose.context.common.CommonDiagnoseRegistry" />
    </application>

</manifest>