{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MyH5Application",
  "copy": false,
  "targets": {
    "MyH5Application": {
      "author": "Evan",
      "time": "2019/08/22 23:38:53",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.190731170438",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_Log": {
          "MPMasAdapter": "1.0.0.190712115057",
          "APRemoteLogging": "1.0.0.190807172917",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190226124537",
          "AutoTracker": "1.0.0.190618111546",
          "MPPerformance": "1.0.0.190617115843",
          "TianYan": "1.0.0.190603103544",
          "MPDataCenter": "1.0.0.190603103544",
          "APCrashReporter": "1.0.0.190618111735"
        },
        "mPaaS_RPC": {
          "APMobileNetwork": "1.0.0.190812170612",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234",
          "APOpenSSL": "1.0.0.190226125531",
          "MPMgsAdapter": "1.0.0.190619161346"
        },
        "mPaaS_Sync": {
          "APLongLinkService": "1.0.0.190613174001",
          "APLog": "3.0.2.190701174234",
          "APProtocolBuffers": "1.0.1.190226124537",
          "mPaas": "1.0.0.190529102714",
          "MPDataCenter": "1.0.0.190603103544",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "UTDID": "1.0.2.190226130141",
          "MPMssAdapter": "1.0.0.190619161346"
        },
        "mPaaS_Nebula": {
          "NebulaBiz": "1.0.0.190819213155",
          "APMobileFramework": "1.0.0.190731170438",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234",
          "APWebImage": "1.0.0.190726183019",
          "APCommonUI": "1.0.0.190226202548",
          "AntUI": "1.0.0.190814112921",
          "NebulaSecurity": "1.0.0.190723112335",
          "APMobileNetwork": "1.0.0.190812170612",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "APOpenSSL": "1.0.0.190226125531",
          "Nebula": "1.0.0.190724221520",
          "NebulaSDK": "1.0.0.190723112335",
          "NebulaPoseidon": "1.3.0.190618101912",
          "NebulaAppManager": "1.3.0.190726185008",
          "NebulaKernel": "1.0.0.190618101912",
          "TinyAppCommon": "1.0.0.190725151153",
          "SocketCraft": "1.0.0.190723112335",
          "NebulaTinyapp": "1.0.0.190726183117",
          "NebulaLogging": "1.0.0.190819163344",
          "APRemoteLogging": "1.0.0.190807172917",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190226124537",
          "AutoTracker": "1.0.0.190618111546",
          "NebulaConfig": "1.0.0.190723113212",
          "APConfig": "1.0.0.190617142052",
          "APLongLinkService": "1.0.0.190613174001",
          "MPDataCenter": "1.0.0.190603103544",
          "NebulaAppBiz": "1.0.0.190723162204",
          "MASSProxy": "1.0.0.190613174725",
          "MASSChannel": "1.0.0.190731113250",
          "MPNebulaAdapter": "1.0.0.190815181326",
          "NebulamPaaSBiz": "1.0.0.190819142702",
          "MPMpaaSService": "1.0.0.190618102427",
          "NebulaHeader": "1.0.0.190618101912",
          "MPMasAdapter": "1.0.0.190712115057",
          "MPPerformance": "1.0.0.190617115843",
          "TianYan": "1.0.0.190603103544",
          "APCrashReporter": "1.0.0.190618111735",
          "MPMgsAdapter": "1.0.0.190619161346",
          "MPMssAdapter": "1.0.0.190619161346",
          "AntUIShellForMpass": "1.0.0.190801135954",
          "MPBadgeService": "1.0.0.181024211440",
          "NebulaNetwork": "1.0.0.190805204124"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.190603103544",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.190226202548",
          "AntUI": "1.0.0.190814112921",
          "AntUIShellForMpass": "1.0.0.190801135954",
          "MPBadgeService": "1.0.0.181024211440",
          "MPDataCenter": "1.0.0.190603103544",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.181024211440",
          "MPDataCenter": "1.0.0.190603103544",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.190226125531"
        }
      },
      "baseline": "10.1.60",
      "frameworks": [
        "APLog.framework",
        "APMobileFramework.framework",
        "mPaas.framework",
        "MPMasAdapter.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "AutoTracker.framework",
        "MPPerformance.framework",
        "TianYan.framework",
        "MPDataCenter.framework",
        "APCrashReporter.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APSecurityUtility.framework",
        "APOpenSSL.framework",
        "MPMgsAdapter.framework",
        "APLongLinkService.framework",
        "MPMssAdapter.framework",
        "NebulaBiz.framework",
        "APWebImage.framework",
        "APCommonUI.framework",
        "Masonry.framework",
        "AntUI.framework",
        "MBProgressHUD.framework",
        "NebulaSecurity.framework",
        "Nebula.framework",
        "NebulaSDK.framework",
        "NebulaPoseidon.framework",
        "NebulaAppManager.framework",
        "NebulaKernel.framework",
        "TinyAppCommon.framework",
        "SocketCraft.framework",
        "NebulaTinyapp.framework",
        "NebulaLogging.framework",
        "NebulaConfig.framework",
        "APConfig.framework",
        "NebulaAppBiz.framework",
        "MASSProxy.framework",
        "MASSChannel.framework",
        "MPNebulaAdapter.framework",
        "NebulamPaaSBiz.framework",
        "MPMpaaSService.framework",
        "NebulaHeader.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework",
        "NebulaNetwork.framework"
      ],
      "resources": [
        "APMobileFramework.bundle",
        "APMobileNetwork.bundle",
        "NebulaPoseidon.bundle",
        "NebulaBiz.bundle",
        "APCommonUI.bundle",
        "NebulaSDK.bundle",
        "NebulaAppManager.bundle",
        "NebulaKernel.bundle",
        "TinyAppCommon.bundle",
        "NebulaTinyapp.bundle",
        "NebulaLogging.bundle",
        "NebulaConfig.bundle",
        "MPInternalPresetApps.bundle",
        "MPNebulaAdapter.bundle",
        "MPInternalPlugins.bundle",
        "MPBadgeService.bundle"
      ]
    }
  },
  "recent": "MyH5Application"
}