<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpaas.config">

    <application>
        <activity android:name=".BPageActivity"></activity>
        <activity android:name=".APageActivity" />
        <activity android:name=".ConfigServiceActivity" />
    </application>

</manifest>