<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>Product Version</key>
	<string>1.0.0.0</string>
	<key>mPaaSLicense</key>
	<dict>
		<key>AppConfigUpdate</key>
		<dict>
			<key>ExpireDate</key>
			<string>2126-01-01</string>
			<key>Key</key>
			<string>K01em+yvA9E+WXUwUp2uk5sbk4PHhIC0AF4wI1Tys0UikPjjlClHJUNR3SLzvundKvr5MK55yawzJhBX/BQRTLCqjGUr+M3Dxafds0xi8cbWfILuq+2N8z+z0fRRHnx4WNPU4djw6NUhF4oxOfHWzd0HK7CVPUGaTp9oSy9Aj9CiEeEdFWz1ODjzVAMdMzyofiS/qJFR3hWEaeoOAkLdOZQc33CSGx9nyUttvr+fwaJT+RAmmRh+Xo6RqozlQ4T6gmVivsS9DyGmuUE9MBUp2R2YkHJagh1n9mBNV+xqAx3iew00D+X7nW94jasksWiQ8hbIl/Zidi1LhROaFqtGTQ==</string>
			<key>Trial</key>
			<string>0</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>CarLicense</key>
		<dict>
			<key>ExpireDate</key>
			<string>2120-01-01</string>
			<key>Key</key>
			<string>URCq5V6IwxjVyz7hOYNAqvaNjBEZQvqa8LUQJMmdmBIuzZgVdzaJ4vXPmQ/fwu8g5/EdDy2hlcd1HcSDmktwLz/DriCMPkqT7PyCAm4DenqGYZp78ztVfh6DUh1QolHgYZm2Ms3elc53YSzfn7DYk6s9Zmbwl7kQeWhZ+w4n0Ya0kXRbq944arefA8CRlCzHOG6q4ZI7G5u8EG3Xjsn6ScAOLZX5e0muN6rPiWu4GHffMO1uT4YIpnHdRlTIemfD4Rvv5oLURagdyl99KOpqRp0fIQZV5QvOs0CHEbQhD/3MszvF2dLp1rs9MkO74ZjdQ27vgHWAyKioOG+/zGOuAg==</string>
			<key>Trial</key>
			<string>1</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>DriverLicense</key>
		<dict>
			<key>ExpireDate</key>
			<string>2120-01-01</string>
			<key>Key</key>
			<string>VTLRYRfJo6p6MF5Qm4QJrI3o4jFWNzKbVDcQL6G13dw8dHP0+mSrbQhvJK3+G4/2u2slWiObiZjfM2vkTM0DTKEIwMAqlNkWiSnpIDDVID+2iVjs5NQi1u5y+XhJAgXE4z2rJ2jj2mWqUDkbjVx4rp7zWJUKREKtD1vBHgyVC9iW9d0BtUjszipqTjZqzJLdInq+nDyHbpXhhhOkl6mLryfU9ufxfqJInLQDBurQ95ERugNpZBU+zOfnMnDdvdFyLVLf8ryl3GX7o1HaYz0yxc5cDSOsoQqBUVf2sAXQyrTt29jVK0gMrL9kaMQFeel+yf35lttMcVDiSO0QOEHLbQ==</string>
			<key>Trial</key>
			<string>1</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>DrivingLicense</key>
		<dict>
			<key>ExpireDate</key>
			<string>2120-01-01</string>
			<key>Key</key>
			<string>FZt4eoIqEJM/cagMIZrCFeZ3tt9Qt9XipPzlLgzqLDD5HNKIfkjQvLejQEvC2RdozSN6XUS2dnnj54+U0TKujZ9QR+CDkL+umC2pZ4fCcEnxcjD1kO2T4HdgEJn/rgbIkHP2h14gl+h3ssnnrE+oiFnXhaFoPprBnBHOhRBnYgYy40VPeEPMGAcNDrPP1xdj2yzZ1ha4WPBTeer/c5OUgMv3ockm6V7DB4CRj6195f0kaqJJ/YJFnG8ynQrXJYiPk6popWIKbHXJtRRcHvbLvni+jPV013mSwCgV5Ywvn6tFF7vdZBsJQ/D01dPcfYkEnbHXBRocNdcOz+Iaz23p1g==</string>
			<key>Trial</key>
			<string>1</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>GasMeter</key>
		<dict>
			<key>ExpireDate</key>
			<string>2120-01-01</string>
			<key>Key</key>
			<string>p54mRbBMySIZKT6LDah87JF6ufAWOhp5ZKRMyBOSzz/485RcLYDT47wMn5YzTKwgo0EvBADYW2BoD+lliuhBpbez6LN45g+SCeeQAV3RzBz3ai2YVRehSzBEGocGkTVlG2m++L86IKQgcGFZPrAfpl7J3nz4mQsbjgIjGk4kVXlZg9Rb3bAAhN5PLajQbdtsH3EvoTmFzxFQ2fn84KXtIZ2WgQxW2vKTtaX9roxO2YEom0jJO4ICRccFjhz7XU8GLqwXQbUF7g7ivFiWc4AgtU+f40ZMMfK0sEBxAh6OHlvN/iiOi7qWnQfEnSUUNNG7qpAQQjG2rJZL4MB0IsRshg==</string>
			<key>Trial</key>
			<string>1</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>OCR</key>
		<dict>
			<key>ExpireDate</key>
			<string>2120-01-01</string>
			<key>Key</key>
			<string>l2VVxV8xoYjRIVIal+Ka5wHbrENrCDzzsA87bEVjO+JQ/wWic+Jr9Vq6LYztQr/6U12GTRbbJ36BvdMQzBjuYyceREU1fPx6a0OxpmXTcm4B1n8vsA0atBfFFInUe5/IOZPwy/jOe8FOjsyjmleSxexcNAVFBBg5dLkNb1MVduIa+7+UoYmt+yYfnpndqhgBXvO3ZXP7cVzT4sKIt/Nrmp8z221RmEEBzKswThjjk4EviXsMGwyBWPlUEgv58sGRFxtgg3HvDKF7mDFGUfhAcScuKy/rwHeECg9Zyjyv3Fs4WD9OYA1mkBgOtzctN7vZ0vx/wCMmWm0U+b8boZnoOw==</string>
			<key>Trial</key>
			<string>1</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>PassPort</key>
		<dict>
			<key>ExpireDate</key>
			<string>2120-01-01</string>
			<key>Key</key>
			<string>nvuqsgKZyfRFNXPirWzEHdVpMQg8b0id7X1ibmxKnfCIs9XhJD6vOEoGAJuLwDrV5X/tPOXxebLGTjBCR2ayHXmWsQBq7N15GmnQc553s/oEVUw80f97ipdwrKldylL3Emdfp2rRjp/EiICfYawphoj3Up4bZzn//8hm0/Dn55T9cl5L5xSTbSWPfLC8I/dRfDzEnazTKbh2nKh8ku9vHEw2gCzMWNl1IiJqssZakK5XOyJCcDPdWcgtKW+SXEzDPQ5SDXgOatkqp/c4y9D7XtSHaCeCLk6jRLzWRdpsHoPymIMefph5JTsp3qRtURmb38upDzkn+RKMl7y8xWgYgQ==</string>
			<key>Trial</key>
			<string>1</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>SafeKeyboard</key>
		<dict>
			<key>ExpireDate</key>
			<string>2122-01-01</string>
			<key>Key</key>
			<string>Zxsh8UVWFwhKyUByrLoNOq/Lf5QgTxTezwEsgWR/9cHBwd1rb1StUgUH3/gx4g/EvMm6kntyelGHNDNcU9UZ84iPTuurjEQAqKgpDRLkqpyR3YOeUC0Vzpnyz6i3CjYRQTRLTXAxVfXdrCXv3x3OIeb8fK2RmXumqQiP1jIM01nnftWSBH/6yk+EmJ6j84dr6TGYnKGZz2uZiD4UbQC+7cEvSDlQSk2LvhArM647FrMHOzR01bXyMznhqFRrtKZ6dmwudL9mmQiFOcd7Qsjw50LizQiFyRMBDP42QDxC/vWST06wUD9HjQRYtsDNGqfLbymd5pjGmHkK9hK30Yqp8w==</string>
			<key>Trial</key>
			<string>0</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>SecurityEnvCheck</key>
		<dict>
			<key>ExpireDate</key>
			<string>2026-01-01</string>
			<key>Key</key>
			<string>OnuoFQGK1xy8uPy0gaW+6cCx7B3SL9ALD4o9emg0ku0ZBfUw8eyeW9rQSIfz5wOEERXHjvytz/ICIfotS2aj9KzaJH66V6LOG9AHUFOjYxvlB69E0aYigpXx48QMCfF5Ujb5K83SRiC72Bwh5sPiewZrhKLyWIALqGVkswU58C8d47ZvRt9EfgjIhmvXEy9p1DAEp12j6lcnmKzQCHShrbMRGGxsJLerYNtQLtOK+JK0NRBBgLCLzf0M1DoK2tVLjL3IkdHc+jEoj47fO8wy7eZIfF4tGIUn2nggWONq/u/JDOvMXNO3bbuM+0cCv3J9lHoqDzknjjoE8S1Rjd/0Mw==</string>
			<key>Trial</key>
			<string>0</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>VinCode</key>
		<dict>
			<key>ExpireDate</key>
			<string>2120-01-01</string>
			<key>Key</key>
			<string>PU4b4jFK0iXWhKTPkkM+LlG62sgjcV4xCT/0+t2rkoBc07u9xWqZvyoqEzJijouBzcFOACgmQW3gn+6XqI6qJGkspXnWTo/hA9fzdWaXHt1KVF0gF4qx1T+wn7KunFZ5wsFGqgDM+9rETUVA/WKHkTa+lk10iBeQ2Gu9Ax6mEiBJFUhlrm/dXxFpFU0VXjCXON7IgiKrw6ItIen5eYro/yqvoRxGu0SscKgcajvBWMRbZBRR8sXmnvMp8WT+6ovfCHnYNCon/BycH/80tFkUYh0ceLYbLPl1qk0RojpSZ0InZ9h1m1WXGBhVsgTCarGAMh2k327jOKx6rWWv1QbKIQ==</string>
			<key>Trial</key>
			<string>1</string>
			<key>Version</key>
			<string>1</string>
		</dict>
	</dict>
	<key>mPaaSCrypt</key>
	<dict>
		<key>Crypt</key>
		<true/>
		<key>GWWhiteList</key>
		<array>
			<string>https://mgw.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm</string>
		</array>
		<key>PubKey</key>
		<string>-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoEcz1UBgi0DQgAETn4VDXM+Lyd+jX8jdOGZRSdn4Eti
Bsdf2tg3m98aedwd++MwMaSP6zv2eTcv2nE53kHEDy6Ji7Ez3+Ry+wwR/Q==
-----END PUBLIC KEY-----</string>
		<key>RSA/ECC/SM2</key>
		<string>SM2</string>
	</dict>
</dict>
</plist>
