{
	"appId":"ONEXDF259A2051016",
	"appKey":"ONEXDF259A2051016_ANDROID",
	"base64Code":"",
	"packageName":"com.mpaas.demo",
	"rootPath":"mpaas/android/ONEXDF259A2051016-shaojian",
	"workspaceId":"shaojian",
	"syncport":"443",
	"syncserver":"msync.mpaas.cn-hangzhou.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"push.mpaas.cn-hangzhou.aliyuncs.com",
	"rpcGW":"https://mgw.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"logGW":"https://mdap.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasapi":"https://mpaasapi.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"mrtcserver":"wss://cn-hangzhou-mrtc.cloud.alipay.com/ws",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"ONEX_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"yTif7NmhZUerpMUtYpA+IlHCuFT4pZGdpiHRkmsstBhzlY4I74Xf2QiBXtZcgrAmxzh9un8wHtQqRNPcSOmuFhgzIjZXQUBvQr9hNn0CWz4IsWEKMbbk9me06hs4OOWxnGahaTgGouSFN/O6ZX4hYXPP1my2/yaoOxHVeOk8uz5G+U63gRaiB7UMP6gorWk/K1fQBv4UrLHmrHSc6hwesn8ISxfSXTnl/1ljQgol3qkHkkOqqsluDrQElusx9Y1PxfrLW1ZxYm1ogwamfRYHNRlf4Qdq0AkHGSpuY5RmFkZgnCaom5QZikJWZDaFWXNY6+uvxAO5N/ucLusqJIKPxw=="
}